<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title" id="exampleModalLabel">
          <strong>Subir archivo</strong>
        </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">×</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="form-row">

            <div class="col-lg-12">

              <div class="form-group">
                <label for="nombre_tienda">Archivo:</label>
                <input name="nombre_tienda" class="form-contro" type="file" placeholder="Nombre">
              </div>
            </div>


          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-warning" href="login.html">Subir archivo</a>
      </div>
    </div>
  </div>
</div>
