<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav class="navbar navbar-expand-md navbar-light bg-white topar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#accionesbar">
						<span class="navbar-toggler-icon"></span>
					</button>

					<!-- Topbar Search -->
					<!-- Topbar Navbar -->
					<div class="collapse navbar-collapse" id="accionesbar">
						<ul class="navbar-nav mx-auto">

							<li class="nav-item">
								
							</li>
							<!-- Nav Item - Search Dropdown (Visible Only XS) -->
							<!-- Nav Item - Alerts -->
							<!-- Nav Item - Messages -->
							<!-- Nav Item - User Information -->


						</ul>
					</div>

				</nav>
				<!-- End of Topbar -->


				<!-- Begin Page Content -->
				<div class="container-fluid mb-3">

					<div class="row">
						<div class="col-sm-6 col-md-4">
							<div class="card m-3 shadow" >
								<div class="card-header clickable bg-info text-white" onclick="location.href = 'project.html'"> 
								<i class="fas fa-building mr-2"></i>Nombre del proyecto </div>
								<div class="card-body" style="overflow-y: scroll">
									<div class="alert alert-primary alert-dismissible">
										
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, quam!
										<button class="close" data-dismiss="alert" >
										<span>x</span>
										</button>
									</div>
								
								</div>
							</div>
						</div>

					</div>
					
					
					<!--Aqui va el contenido-->
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->