<!--Modal de mensaje-->
<div id="messages" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Cabecera del modal-->
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">Mensajes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <!--cuerpo del modal-->
      <div class="modal-body" style="overflow-y: scroll; max-height: 550px">
        <div class="alert alert-primary">
          <strong>(Gerente): </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolor nobis corporis nisi reprehenderit atque numquam officiis eos aliquid ab?
        </div>
        <div class="alert alert-success">
          <strong>(Residente): </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, nemo.
        </div>
        <div class="alert alert-warning">
          <strong>(Proyectista): </strong> Lorem ipsum dolor sit amet.
        </div>
      </div>
      <div class="modal-footer p-1">

        <form action="return false;">
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group input-group-">
                <input type="text" class="form-control input-lg" id="search-church" placeholder="Mensaje">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">
                    <i class="fa fa-paper-plane"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


