<div class="container-fluid">

  <!-- 404 Error Text -->
  <div class="text-center">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-800 mb-5">No se encontro la pagina</p>
    <p class="text-gray-500 mb-0">Parece que no existe la pagina que buscas...</p>
    <p class="text-info"> Si crees que la pagina deberia existir, contacta con un administrador o gerente.</p>
    <a class="clickable" (click)="home()">&larr; Volver a la pagina principal</a>
  </div>

</div>
