<ng-template #loading>

</ng-template>
<!--Modal de mensaje-->
<div id="messages" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Cabecera del modal-->
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">Mensajes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <!--cuerpo del modal-->
      <div class="modal-body" style="overflow-y: scroll; max-height: 550px; overflow-x:hidden">
        <div *ngFor="let msg of messages" class="alert alert-primary text-justify">
          <strong> {{msg.authorName}}: </strong> <p>{{msg.message}}</p>
        </div>
        
      </div>
      <div class="modal-footer p-1">

        <form action="return false;">
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group input-group-">
                <input [(ngModel)]="message" type="text" class="form-control input-lg" id="search-church" placeholder="Mensaje" name="mensaje">
                <span class="input-group-btn">
                  <button (click)="sendMessage()" class="btn btn-primary" type="submit">
                    <i class="fa fa-paper-plane"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


