<div class="container-fluid mb-3">
  <div class="row">
    <!--Aqui va la imagen del proyecto-->
    <div class="col-sm-12">
      <img src="/assets/img/undraw_under_construction_46pa.svg" class="mx-auto d-block" alt="" width="300" heigth="500">
    </div>
  </div>
  <!--Aqui va el contenido-->
  <div class="row">
    <div class="col-lg-3 col-md-1"></div>
    <div class="col-lg-6 col-md-10 col-sm-12">

      <div class="card mt-3 shadow-sm">
        <div class="card-header text-center bg-primary text-white h2">Informacion General</div>
        <div class="card-body">
          <h4 class="mb-0 text-center text-primary">General</h4>
          <hr>
          <p class="card-text h5">

            <strong class="text-primary"><i class="fas fa-store fa-fw"></i> Descripcion del proyecto:</strong> <br>
            <span class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolores, neque, dolorum cum, dolorem assumenda quae aliquam tenetur perspiciatis vel tempora in ea ducimus nam?</span>
          </p>
          
          <h4 class="mb-0 text-center text-primary">Informacion</h4>
          <hr>
          <p class="card-text h5">

            <strong class="text-primary"><i class="fas fa-store fa-fw"></i> Nombre de la tienda:</strong>
            Nombre nombre nombre
          </p>

          <p class="card-text h5">
            <strong class="text-primary">No. Tienda: </strong>664
          </p>

          <p class="card-text h5">
            <strong class="text-primary"><i class="fas fa-ruler-combined"></i>Metraje: </strong>
            69 <em>m<sup>2</sup></em>
          </p>

          <p class="card-text h5">
            <strong class="text-primary"><i class="fas fa-compass"></i> Ubicacion: </strong> Ecatepec
          </p>

          <br>
          <br>
          <h4 class="mb-0 text-center text-primary">
            <i class="fas fa-calendar"></i> Fechas
          </h4>
          <hr>
          <div class="text-center">
            <p class="card-text h5"><strong>Recepcion local: </strong> 10/04/2077</p>
            <p class="card-text h5"><strong>Pedido de muebles: </strong> 32/03/2277</p>
            <p class="card-text h5"><strong>Fecha de apertura: </strong> 24/12/1810</p>
          </div>
        </div>
      </div>
      <br>
      <button class="btn btn-danger btn-block">Eliminar proyecto</button>
    </div>
    <div class="col-lg-3"></div>

  </div>
</div>


<!-- /.container-fluid -->
