<!--*Gantt-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12  shadow-m">
      <div class="container-canvas" style="overflow: scroll; max-height: 550px">
        <canvas id="gantt-interface" width="500" height="350"></canvas>
      </div>
    </div>
  </div>
</div>


<!-- * Edicion de actividad-->

<form #form="ngForm" (submit)="EditActivity(form.value)">
  <div *ngIf="($activity |async) as act; else loading" class="modal fade" id="activity-info-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">

    <swal #verifyObjectives title="Cuidado" text="¿Seguro que deseas verificar todos los objetivos para {{act.name}} ?" type="warning"
      footer="Nota: esto no se puede deshacer" [showCancelButton]="true" [focusCancel]="true" (confirm)="verifyElements('objectives',act._id)"
      [cancelButtonColor]="'red'" [confirmButtonText]="'Verificar'" [cancelButtonText]="'Cancelar'">
    </swal>
    <swal #verifyDeliverables title="Cuidado" text="¿Seguro que deseas verificar todos los entregables para {{act.name}}?" type="warning"
      footer="Nota: esto no se puede deshacer" [showCancelButton]="true" [focusCancel]="true" (confirm)="verifyElements('deliverables',act._id)"
      [cancelButtonColor]="'red'" [confirmButtonText]="'Verificar'" [cancelButtonText]="'Cancelar'">
    </swal>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header bg-warning text-white">
          <h5 class="modal-title" id="modal">
            <strong>Editar Actividad</strong>
          </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">×</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-row">
              <div *ngIf="userType == 2 || true " class="col-lg-12">
                <h4>Estado de la actividad: {{act.finished? 'terminada':act.started? 'en progreso': 'sin iniciar'}}
                </h4>

                <swal #startActivity title="¿Listo?" text="¿Todo listo para iniciar la actividad?" type="question" footer="Nota: esto no se puede deshacer"
                  [showCancelButton]="true" [focusCancel]="true" (confirm)="setStarted(0,act._id,true)" [cancelButtonColor]="'red'"
                  [confirmButtonText]="'¡Listo!'" [cancelButtonText]="'Aun no estoy listo'">
                </swal>
                <swal #finishActivity title="¿Listo?" text="¿Terminaste la actividad completamente?" type="question" footer="Nota: esto no se puede deshacer"
                  [showCancelButton]="true" [focusCancel]="true" (confirm)="endActivity(act._id)" [cancelButtonColor]="'red'"
                  [confirmButtonColor]="'green'" [confirmButtonText]="'Sí'" [cancelButtonText]="'Aún no'">
                </swal>

                <div class="btn-toolbar" role="toolbar">
                  <div class="btn-group mr-2" role="group">
                    <!--? se puede revertir el inicio y fin de actividades ?-->
                    <!-->button [swal]="notstartActivity" class="btn btn-success" type="button" [disabled]="!act.started">Iniciada
                    </button-->
                    <button [swal]="startActivity" class="btn btn-warning" type="button" [disabled]="act.started ">
                      {{act.started? 'Iniciada':'Iniciar'}}
                    </button>

                  </div>
                  <div class="btn-group mr-2" role="group">
                    <!-->button class="btn btn-success" type="button" [disabled]="!act.finished">Terminada</button-->
                    <button [swal]="finishActivity" class="btn btn-warning" type="button" [disabled]="act.finished || !act.started">
                      {{act.finished?'Terminada':'Teminar'}}
                    </button>
                  </div>
                </div>
                <hr>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="inicio">Nombre de la actividad</label>
                  <input [(ngModel)]="act.name" name="nombre" type="text" class="form-control" placeholder="Nombre" ngModel #nameref="ngModel"
                    maxlength="100" required pattern="[A-Za-záéíóúÁÉÍÓÚ1234567890 ]{0,100}">
                </div>



              </div>


              <div class="col-lg-6">
                <div class="form-group">
                  <label for="inicio">Fecha de inicio:</label>
                  <input name="inicio" type="date" class="form-control" placeholder="Fecha" [ngModel]="parseDate(act.start) | date: 'yyyy-MM-dd'"
                    ngModel>
                </div>

              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="final">Fecha de termino: </label>
                  <input name="final" type="date" class="form-control" [ngModel]="parseDate(act.end) | date: 'yyyy-MM-dd'" placeholder="Fecha"
                    ngModel>
                </div>
              </div>

              <div *ngIf="userType! ==1" class="col-lg-12">
                <div class="form-group">
                  <label for="prioridad">Prioridad de la actividad: {{parsePriority(act.priority)}} </label>
                  <select class="form-control" [ngModel]="act.priority" name="prioridad" id="prioridad" ngModel>
                    <option value="0">Alta</option>
                    <option value="1">Media</option>
                    <option value="2">Baja</option>
                  </select>
                </div>
              </div>

              <swal #dateincorrect title="Favor de checar las fechas" text="Las fechas deben de ser mayores a la fecha actual" type="warning"
                [focusCancel]="true"></swal>
              <!--OBJETIVOS-->
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header bg-warning text-white">
                    <!-- para activar el modal de objetivos-->
                    <strong>Objetivos</strong>

                    <button *ngIf="userType==1&& act.objective.length > 0" type="button" class="btn btn-warning float-right" [swal]="verifyObjectives">
                      <i class="fa fa-clipboard-check float-right align-middle"></i>
                    </button>

                    <button *ngIf="userType==1" type="button" class="btn btn-warning float-right" data-toggle="collapse" data-target="#objetivo-collapse">
                      <i class="fa fa-plus float-right align-middle"></i>
                    </button>



                    <br>
                    <div class="input-group collapse mt-3" id="objetivo-collapse">
                      <div class="input-group-prepend">
                        <div (click)="pushObjective(objetivo)" class="input-group-text clickable">></div>
                      </div>
                      <input type="text" name="objetivo" class=" form-control" #objetivo>
                    </div>
                  </div>
                  <div class="card-body" style="overflow-y: scroll; max-height: 250px">

                    <div *ngFor="let obj of objectives" class="alert alert-warning">{{obj}}</div>
                    <input *ngFor="let obj of act.objective" type="hidden" class="objetivo" [value]="obj">

                  </div>
                </div>
              </div>

              <!--ENTREGABLES-->
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header bg-warning text-white">
                    <!--para activar el modal de objetivos-->
                    <strong>Entregables</strong>

                    <button *ngIf="userType==1 && act.deliverable.length > 0" type="button" class="btn btn-warning float-right" [swal]="verifyDeliverables">
                      <i class="fa fa-clipboard-check float-right align-middle"></i>
                    </button>

                    <button *ngIf="userType==1" type="button" class="btn btn-warning float-right" data-toggle="collapse" data-target="#entregable-collapse">

                      <i class="fa fa-plus float-right align-middle clickable "></i>
                    </button>

                    <br>
                    <div class="input-group collapse mt-3" id="entregable-collapse">
                      <div class="input-group-prepend">
                        <div (click)="pushDeliverables(entregable)" class="input-group-text clickable">></div>
                      </div>
                      <input type="text" name="entregable" class=" form-control " #entregable>
                    </div>
                  </div>
                  <div class="card-body" style="overflow-y: scroll; max-height: 250px">

                    <div *ngFor="let ent of deliverables" class="alert alert-warning">{{ent}}</div>
                    <input *ngFor="let ent of act.deliverable" type="hidden" class="entregable" [value]="ent">

                  </div>
                </div>
              </div>

              <!--COMENTARIOS-->
              <div class="col-lg-12 mt-3">
                <div class="card ">
                  <div class="card-header bg-warning text-white">
                    <!--para activar el modal de objetivos-->
                    <strong>comentarios</strong>
                    <button *ngIf="userType==1" type="button" class="btn btn-warning float-right" data-toggle="collapse" data-target="#comentario-collapse">
                      <i class="fa fa-plus float-right align-middle clickable "></i>
                    </button>
                    <br>

                    <div class="input-group collapse mt-3" id="comentario-collapse">
                      <div class="input-group-prepend">
                        <div (click)="commentActivity(comment.value,act._id)" class="input-group-text clickable">
                          <i class="fa fa-marker"></i>
                        </div>
                      </div>
                      <input type="text" name="objetivo" class=" form-control" #comment>
                    </div>
                  </div>
                  <div class="card-body" style="overflow-y: scroll; max-height: 200px">
                    <ul class="list-group-flush">
                      <li *ngFor="let comment of act.comments" class="list-group-item">
                        <strong>{{comment.authorName}}: </strong>{{comment.comment}}
                      </li>

                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div [hidden]="!nameref.errors?.pattern">
            En el nombre solo puede haber letras y numeros.
          </div>
          <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
          <input [disabled]="form.invalid" type="submit" class="btn btn-warning" value="Editar">
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    loading...
  </ng-template>

</form>

<swal #dateincorrect title="Favor de checar las fechas" text="La fecha final debe de ser mayor a la inicial" type="warning"
  [focusCancel]="true"></swal>
<!--SWEETALERT-->